body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
 background: url(VN.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 3rem;
  color: yellowgreen;}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.ogiua{
  height: 550px;
}
.btn-primary{
  background-color: yellow;
  border-color: yellow;
}
.btn-primary:hover {
  background-color: blue;
  border-color: bule;
  border-width: 5px;
}
.btn-xl{
  padding: 1rem 2rem;
} 